 .gis-text-labels {
}

.gis-cell-table-wrapper {
	position:relative;
}

.gis-cell-table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

.gis-cell-table-wrapper table {
  width:100%;   
}

.gis-cell-table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:40%;
}


.gis-cell-table-wrapper table thead th{
    padding: 0rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}


.map-container .sidebar-pane {
    display: none;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px 10px;
}

.map-container .sidebar-header {
	font-size: 11.4pt;
}