ul.rc-tree li.rc-tree-treenode-switcher-open:last-child {
    background: none !important;
}

.bp3-tree-node-content {
    height: 20px !important;
}


.js-plotly-plot .plotly .modebar {
    left: 50%;
    transform: translateX(-50%);
}