.login-mask{ 
    position:fixed; 
    top:0; 
    left:0;  
    z-index:5; 
    width:100%; 
    height:100%; 
    /**background-color:rgba(0, 0, 0, 0.5);**/

    background-color: #FFF;
    z-index: 5;
    padding-top:10%;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.form-signin,
.form-reset-password,
.form-register{
	width:340px; 
	margin:0 auto; 
	position:relative; 
	z-index:10; 
	background: #ffffff; 
	/**border:5px solid #cccccc; */
	border-radius:0px; 
	padding:10px;

}
.form-signin input,
.form-reset-password input,
.form-register input,
.input-group{
	margin-bottom: 5px;
}

.login-logo{
	text-align: center;
}

.form-signin .bp3-form-group{
    margin-bottom: 5px !important;
}