.legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    /*border: 1px solid #ddd;*/
    border: 1px solid #BDC3C7;
    
    border-radius: 4px;
    padding: 5px 5px 5px 10px !important;
    background-color: #f5f5f5;
    display: block;
    line-height: inherit;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
}



.fieldset {
    /*border: 1px solid #ddd !important;*/
    border: 1px solid #BDC3C7;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    padding-left: 10px!important;
    margin-bottom: 5px;
    margin-top: 5px;
}


.dashboard-icon .fa, .dashboard-icon .glyphicon { font-size: 100px; color: black;}
.dashboard-icon .icon-label { text-align: center; font-weight:bold;}
.dashboard-icon .icon-display { text-align: center; font-size: 40px;}